.container{
 display: grid;
 
 grid-template-columns: 5fr;
 grid-template-rows: 10fr;


}



body{
    
    font-family: 'Raleway', sans-serif;

}

#HelmerBlanco{
    background-color:#ffdb00;
    color: black;
    display: block;
    background-size:cover;
    height: 100vh;
}

#menu{
    background-color:black;
    color: #ffdb00;
    height: 100vh;
    
}